<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>TeemonDeo Googie SignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.397693514653-davp234gvfuh7hvdcinf2asqgdpgg7hj</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>397693514653-davp234gvfuh7hvdcinf2asqgdpgg7hj.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>LaundryOTF_Regular.otf</string>
		<string>LaundryOTF_Bold.otf</string>
		<string>SUIT-Bold.otf</string>
		<string>SUIT-ExtraBold.otf</string>
		<string>SUIT-ExtraLight.otf</string>
		<string>SUIT-Heavy.otf</string>
		<string>SUIT-Light.otf</string>
		<string>SUIT-Medium.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-SemiBold.otf</string>
		<string>SUIT-Thin.otf</string>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
	</array>
</dict>
</plist>
